@font-face {
  font-family: 'Pixelify Sans';
  src: url(/assets/fonts/Pixelify_Sans/static/PixelifySans-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif Display';
  src: url(/assets/fonts/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth\,wght.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
    background-color: #FFC0D1;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Pixelify Sans';
    font-size: 18vh;

  }
  
  #events-container {
    margin-top: 20px;
  }
  
  #events-list {
    list-style-type: none;
    padding: 0;
  }
  
  #events-list li {
    margin: 5px 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 3px;
  }
  
  button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  